{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Breadcrumb Area-->
<section class="breadcrumb-area banner-6">
	<div class="text-block">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 v-center">
					<div class="bread-inner">
						<div class="bread-menu wow fadeInUp" data-wow-delay=".2s">
							<ul>
								<li><a href="{% url 'blog:blog-home' %}">خانه</a></li>
								<li><a href="#">تماس با ما</a></li>
							</ul>
						</div>
						<div class="bread-title wow fadeInUp" data-wow-delay=".5s">
							<h2>تماس با ما</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--End Breadcrumb Area-->

<!--Start Enquire Form-->
<section class="contact-page pad-tb">
	<div class="container">
		<div class="row justify-content-center">


			<div class="col-lg-5 contact2dv">

				<div class="info-wrapr">
					<h3 class="mb-4">تماس</h3>
					<div class="dbox d-flex align-items-start">
						<div class="icon d-flex align-items-center justify-content-center">
							<i class="fas fa-map-marker"></i>
						</div>
						<div class="text pl-4">
							<p><span>آدرس:</span> استان مرکزی، ساوه </p>
						</div>
					</div>
					<div class="dbox d-flex align-items-start">
						<div class="icon d-flex align-items-center justify-content-center">
							<i class="fas fa-phone-alt"></i>
						</div>
						<div class="text pl-4">
							<p><span>تلفن:</span> <a href="tel://1234567920">08642422222</a></p>
						</div>
					</div>
					<div class="dbox d-flex align-items-start">
						<div class="icon d-flex align-items-center justify-content-center">
							<i class="fas fa-envelope"></i>
						</div>
						<div class="text pl-4">
							<p><span>ایمیل:</span> <a href="mailto:info@niwax.com">info@niwax.com</a></p>
						</div>
					</div>
					<div class="dbox d-flex align-items-start">
						<div class="icon d-flex align-items-center justify-content-center">
							<i class="fa fa-globe"></i>
						</div>
						<div class="text pl-4">
							<p><span>وبسایت</span> <a href="#">www.niwax.com</a></p>
						</div>
					</div>
				</div>

			</div>


			<div class="col-lg-7 m-mt30 pr30 pl30">
				<div class="common-heading text-l">
					<h2 class="mt0 mb0">تماس</h2>
					<p class="mb60 mt10">بزودی پاسخ خواهیم داد</p>
				</div>
				<div class="form-block">

					<!-- Start form -->
					<form id="contactForm" data-bs-toggle="validator" class="shake">
						<div class="row">
							<!-- نام -->
							<div class="form-group col-sm-6">
								<input name ="name" type="text" id="name" placeholder="نام" required data-error="لطفا پر کنید">
								<div class="help-block with-errors"></div>
							</div>
							<!-- ایمیل -->
							<div class="form-group col-sm-6">
								<input name ="email" type="email" id="email" placeholder="ایمیل" required>
								<div class="help-block with-errors"></div>
							</div>

						</div>
						<div class="row">
							<!-- موبایل -->
							<div class="form-group col-sm-6">
								<input name ="number" type="text" id="mobile" placeholder="موبایل" required data-error="لطفا پر کنید">
								<div class="help-block with-errors"></div>
							</div>
							<!-- موضوع -->
							<div class="form-group col-sm-6">
								<input name ="subject" type="text" id="subject" placeholder="موضوع">
							</div>

						</div>

						<!-- پیام -->
						<div class="form-group">
							<textarea id="message" rows="5" placeholder="پیام خود را وارد نمایید" required></textarea>
							<div class="help-block with-errors"></div>
						</div>
						<!-- موافقت با قوانین -->
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="customCheck" name="example1"
								checked="checked">
							<label class="custom-control-label" for="customCheck">من با <a
									href="javascript:void(0)">قوانین</a> موافقم</label>
						</div>
						<!-- دکمه ارسال -->
						<button type="submit" id="form-submit" class="btn lnk btn-main bg-btn">ارسال <span
								class="circle"></span>ارسال </button>
						<div id="msgSubmit" class="h3 text-center hidden"></div>
						<div class="clearfix"></div>

						<!-- عدم ارسال هرز نامه -->
						<p class="trm"><i class="fas fa-lock"></i>ما از هرزنامه متنفریم و به حریم خصوصی شما احترام می
							گذاریم.</p>

					</form>
					<!-- End form -->
				</div>
			</div>



		</div>
	</div>
</section>
<!--End Enquire Form-->


<!--Start Location-->
<div class="contact-location">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="map-div">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113874.29338087817!2d75.72051791246247!3d26.885346595411875!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396c4adf4c57e281%3A0xce1c63a0cf22e09!2sJaipur%2C%20Rajasthan!5e0!3m2!1sen!2sin!4v1611838825763!5m2!1sen!2sin"
						allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
<!--End Location-->

{% endblock %}