{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--Breadcrumb Area-->
<section class="breadcrumb-area banner-2">
	<div class="text-block">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 v-center">
					<div class="bread-inner">
						<div class="bread-menu">
							<ul>
								<!-- خانه  -->
								<li><a href="index.html"> </a></li>
								<li> نیواکس، اخبار تکنلوژی در یک نگاه </li>

							</ul>
						</div>
						<div class="bread-title">

							<h2> خوش آمدید♥ </h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--End Breadcrumb Area-->
<!--Start Blog Grid-->
<section class="blog-page pad-tb pt40">
	<div class="container">

		<div class="row">
			<!-- start for -->
			{% if searchkey %}
			<center>
				<h3>
					نتایج جست‌وجوی {{ searchkey }}
				</h3>
				<br>
			</center>
			{% endif %}

			{% if posts %}
			{% for post in posts %}
			<div class="col-lg-4 mt60">
				<div class="single-blog-post- shdo">
					<div class="single-blog-img-">
						<a href="{% url 'blog:blog_single' pid=post.id %}"><img src="{{post.image.url}}" alt="girl"
								class="img-fluid"></a>

						<div class="entry-blog-post dg-bg2 " href="{% url 'blog:blog_single' pid=post.id %}">
							<span class="bypost-"><a href="{% url 'blog:blog_single' pid=post.id %}"><i
										class="fas fa-tag"></i> {{post.category}} </a></span>
							<span class="posted-on-">
								<a href="{% url 'blog:blog_single' pid=post.id %}"><i class="fas fa-clock"></i>
									{{post.published_date|date:"Y/m/d"}}</a>
								</a>

							</span>
						</div>
					</div>
					<div class="blog-content-tt">
						<div class="single-blog-info-">
							<h4><a href="{% url 'blog:blog_single' pid=post.id %}">{{post.title}}</a></h4>
							<p>

								{{post.text_content |truncatewords:17}}

							</p>
							<br>
							<div><i class="far fa-eye"></i> {{post.counted_view}} </div>
						</div>
						<div class="post-social">
							<div
								class="ss-inline-share-wrapper ss-hover-animation-fade ss-inline-total-counter-left ss-left-inline-content ss-small-icons ss-with-spacing ss-circle-icons ss-without-labels">
								<div class="ss-inline-share-content">

									<div class="ss-social-icons-container">
										<a href="javascript:void(0)">اشتراک</a>
										<a href="javascript:void(0)" target="blank"><i class="fab fa-facebook"></i></a>
										<a href="javascript:void(0)" target="blank"><i class="fab fa-twitter"></i></a>
										<a href="javascript:void(0)" target="blank"><i class="fab fa-linkedin"></i></a>
										<a href="javascript:void(0)" target="blank"><i class="fas fa-envelope"></i></a>
										<a href="javascript:void(0)" target="blank">

											<i class="fab fa-facebook-messenger"></i></a>

									</div>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>
			{% endfor %}
			{% else %}
			<center>
				<h3>
					متاسفانه پستی در این دسته بندی منتشر نشده!
				</h3>
				<br>
				<h4>
					می‌توانید از دیگر دسته بندی‌ها انتخاب کنید.
				</h4>
				<div class="col-lg-4 mt">
					{% load blog_tag %}
					{% category_post %}
				</div>
			</center>

			{% endif %}
			<!-- start for -->


		</div>

	</div>
</section>
<!--End Blog Grid-->
{% endblock %}