{% load static %}
<div class="recent-post widgets mt60">
    <h3 class="mb30">اخبار جدید</h3>
    <!--Start-->
    {% for post in posts %}
    <div class="media">
      <div class="post-image bdr-radius">
        <a href="{% url 'blog:blog_single' pid=post.id %}"><img src="{{post.image.url}}" alt="girl" class="img-fluid" /></a>
      </div>
      <div class="media-body post-info">
        <h5><a href="{% url 'blog:blog_single' pid=post.id %}">
          {{post.title |truncatewords:4}}
        </a></h5>
        <p>
          {{post.published_date|date:"Y/m/d"}}
        </p>
      </div>
    </div>
    <!--end-->
    <br>
    {% endfor %}
    
  </div>