{% load static %}
<div class="recent-post widgets mt60">
    <h3 class="mb30">اخبار جدید</h3>
    <div class="media">
      <div class="post-image bdr-radius">
        <a href="#"><img src="{% static 'images/blog/blog-small.jpg' %}" alt="girl" class="img-fluid" /></a>
      </div>
      <div class="media-body post-info">
        <h5><a href="#">توسعه برنامه بازار سهام - زمان، هزینه، ویژگی ها</a></h5>
        <p>2 دی 1400</p>
      </div>
    </div>
    <div class="media">
      <div class="post-image bdr-radius">
        <a href="#"><img src="{% static 'images/blog/blog-small2.jpg' %}" alt="girl" class="img-fluid" /></a>
      </div>
      <div class="media-body post-info">
        <h5><a href="#">توسعه برنامه بازار سهام - زمان، هزینه، ویژگی ها</a></h5>
        <p>2 دی 1400</p>
      </div>
    </div>
    <div class="media">
      <div class="post-image bdr-radius">
        <a href="#"><img src="{% static 'images/blog/blog-small.jpg' %}" alt="girl" class="img-fluid" /></a>
      </div>
      <div class="media-body post-info">
        <h5><a href="#">توسعه برنامه بازار سهام - زمان، هزینه، ویژگی ها</a></h5>
        <p>2 دی 1400</p>
      </div>
    </div>
  </div>