{% extends 'base.html' %}
{% load static %}
{% load blog_tag %}
{% load humanize %}
{% block content %}
<!--Breadcrumb Area-->
<section class="breadcrumb-area banner-2">
  <div class="text-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 v-center">
          <div class="bread-inner">
            <div class="bread-menu">
              <ul>
                <li><a href="{% url 'blog:blog-home' %}">خانه</a></li>
                <li><a href="{% url 'blog:blog-home' %}">وبلاگ</a></li>
              </ul>

            </div>
            <div class="bread-title">
              <h2> {{posts.title}} </h2>


            </div>

          </div>

        </div>
        <center>
          {% load search_bar %}
          {% searchbar %}
        </center>

      </div>


    </div>

  </div>

</section>
<!--End Breadcrumb Area-->
<!--Start Blog Details-->
<section class="blog-page pad-tb">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog-header">
          <h1> {{posts.title}} </h1>
          <div class="row mt20 mb20">
            <div class="col-md-8 col-9">
              <div class="media">
                <div class="user-image bdr-radius"><img src="{% static 'images/user-thumb/girl.jpg' %}" alt="girl"
                    class="img-fluid" /></div>
                <div class="media-body user-info">
                  <a href="{% url 'blog:author' author_username=posts.author %}">
                    <h5>توسط {{posts.author.get_full_name}}</h5>
                    <!-- <p>{{posts.published_date.date}}</p> -->
                  </a>
                  <p>{{posts.published_date.date|date:"d M Y"}}</p>
                  {{posts.published_date|naturaltime}}
                </div>
              </div>
            </div>
            <div class="col-md-4 col-3">
              <div class="postwatch"><i class="far fa-eye"></i> {{posts.counted_view}} </div>
            </div>
          </div>
        </div>
        <div class="image-set"><img src="{{posts.image.url}}" alt="blog images" class="img-fluid" /></div>
        <div class="blog-content mt30">
          <!-- Start TEXT -->
          <p>

            {{posts.text_content|safe}}
            <br>
            <hr>

            {{posts.tags.all|join:", "}}
            <br>
            <br>

            {% for cate in posts.tags.all %}
            <a href="{{cate.id}}">
              {{cate.nametag}}
              {% if not forloop.last %},{% endif %}
            </a>
            {% endfor %}

          </p>

          <div class="row">
            <div class="col-lg-8 col-md-8 mt30 mb30">
              <div class="blog-post-tag">
                <span>برچسب های مرتبط</span>
                {% for cate in posts.tags.all %}
                <a href="#">
                  {{cate.nametag}}
                </a>
                {% endfor %}
              </div>
            </div>
            <div class="col-lg-4 col-md-4 mt30 mb30">
              <div class="blog-share-icon text-left text-md-right">
                <span>اشتراک: </span>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
                <a href="#"><i class="fab fa-vimeo-v"></i></a>
              </div>
            </div>
          </div>
          <div class="row">
            {% if prev.id %}
            <!-- preives post -->
            <div class="col-lg-6 col-md-6 mt30 mb30">
              <div class="post-navigation text-left ">
                <span><a href="{% url 'blog:blog_single' pid=prev.id %}">پست قبلی</a></span>
                <h4><a href="{% url 'blog:blog_single' pid=prev.id %}">
                    {{prev.title}}

                  </a></h4>
              </div>
            </div>
            {% endif %}
            {% if next.id %}
            <!-- next post -->
            <div class="col-lg-6 col-md-6 mt30 mb30">
              <div class="post-navigation text-left text-md-right">
                <span><a href="{% url 'blog:blog_single' pid=next.id %}">پست بعدی</a></span>
                <h4><a href="{% url 'blog:blog_single' pid=next.id %}">
                    {{next.title}}
                  </a></h4>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
        <!--Start Writer section -->
        {% include 'blog_pages/blog-writer.html' %}
        <!-- End Writer section -->

        <!-- start comment section -->
        <div class="comments-block mt60">
          {% if comments %}
          <h2 class="mb60">دیدگاه‌ها:</h2>

          <p>{{comments|length}}
            دیدگاه ثبت شده</p>
          {% else %}
          <h2 class="mb60">دیدگاهی ثبت نشده</h2>

          {% endif %}
          {% for comment in comments %}
          <hr>
          <div class="media">

            <div class="user-image"><img src="{% static 'images/user-thumb/user3.jpg' %}" alt="girl"
                class="img-fluid" /></div>
            <div class="media-body user-info">
              <h5 class="mb10">
                <small dir="ltr">{{comment.name}}</small>
                <small dir="rtl">گفته:</small>
                {{comment.subject}}

              </h5>
              <span dir="ltr">
                <a class="reply-btn" href="#"><i class="fas fa-reply"></i></a>
                {{comment.created_date|naturaltime}}
              </span>
              <br>
              <br>
              <p>
                {{comment.message}}
              </p>
            </div>
          </div>
          {% endfor %}
          <!-- <div class="media replied">
            <div class="user-image"><img src="{% static 'images/user-thumb/user3.jpg' %}" alt="girl"
                class="img-fluid" /></div>
            <div class="media-body user-info">
              <h5 class="mb10">
                جان دی <small>گفته:</small>
                <span>
                  2 دی 1400 <a class="reply-btn" href="#"><i class="fas fa-reply"></i></a>
                </span>
              </h5>
              <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. </p>
            </div>
          </div> -->
          <div name="#comment" class="form-block form-blog mt60">
            <form action="{% url 'blog:blog_single' pid=posts.id %}" method="post" name="#">
              {% csrf_token %}
              <input type="hidden" name="post" value="{{posts.id}}" />
              {% if request.user.is_authenticated %}
              <div class="fieldsets row">
                <div class="col-md-12"><label> شما قبلا با نام کاربری {{request.user.username}} وارد شده اید.</label>
                </div>
                {% if request.user.get_full_name %} <input type="hidden" placeholder="نام" name="name"
                  value="{{request.user.first_name}}" /> {% else %}
                <input type="hidden" placeholder="نام" name="name" value="{{request.user.username}}" />
                {% endif %}
                <input type="hidden" placeholder="ایمیل" name="email" value="{{request.user.email}}" />
              </div>
              {% else %}


              <div class="fieldsets row">
                <div class="col-md-6"><input type="text" placeholder="نام" name="name" /></div>
                <div class="col-md-6"><input type="email" placeholder="ایمیل" name="email" /></div>
              </div>
              {% endif %}
              <div class="fieldsets row">
                <div class="col-md-12"><input type="text" placeholder="موضوع" name="subject" /></div>
              </div>
              <div class="fieldsets"><textarea placeholder="نظر شما" name="message"></textarea></div>


              <div class="fieldsets mt10">
                <button type="submit" name="#" class="btn-main bg-btn lnk">ارسال <i
                    class="fas fa-chevron-left fa-icon"></i><span class="circle"></span></button>
              </div>
            </form>
          </div>

        </div>
        <!-- end comment section -->
      </div>


      <!--End Blog Details-->
      <!--Start Sidebar-->
      <div class="col-lg-4">
        <div class="sidebar">
          <!--Start block for offer/ads-->
          {% include 'blog_pages/blog-ads1.html' %}
          <!--End block for offer/ads-->


          <!--Start Recent post-->
          {% load blog_tag %}
          {% mylastpost 4 %}
          <!--Start Recent post-->

          <!--Start Blog Category-->

          {% load blog_tag %}
          {% category_post %}

          <!--End Blog Category-->
          <!--Start Popular Tags-->
          {% include 'blog_pages/blog-popular-tags.html' %}
          <!--End Popular Tags-->
          <!--Start block for offer/ads-->
          {% include 'blog_pages/blog-ads2.html' %}
          <!--End block for offer/ads-->
        </div>
      </div>
      <!--End Sidebar-->
    </div>
  </div>
</section>

{% load recent_element %}
{% recposts %}

{% endblock %}