<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8" />
	<title>نیواکس- قالب اچ تی ام ال چند منظوره خلاقانه</title>
	<meta name="description" content="Creative Agency, Marketing Agency Template">
	<meta name="keywords" content="Creative Agency, Marketing Agency">
	<meta name="author" content="rajesh-doot">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--website-favicon-->
	<link href="images/favicon.png" rel="icon">
	<!--plugin-css-->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/plugin.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
		rel="stylesheet">
	<!-- template-style-->
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/darkmode.css" rel="stylesheet">
	<link href="css/rtl.css" rel="stylesheet">
</head>

<body>
	<!--Start Header -->
	<header class="nav-bg-w main-header navfix fixed-top menu-white">
		<div class="container-fluid m-pad">
			<div class="menu-header">
				<div class="dsk-logo"><a class="nav-brand" href="index.html">
						<img src="images/white-logo.png" alt="Logo" class="mega-white-logo" />
						<img src="images/logo.png" alt="Logo" class="mega-darks-logo" />
					</a>
				</div>
				<div class="custom-nav" role="navigation">
					<ul class="nav-list">
						<li class="sbmenu">
							<a href="#" class="menu-links">خانه</a>
							<div class="nx-dropdown">
								<div class="sub-menu-section">
									<div class="container">
										<div class="col-md-12">
											<div class="sub-menu-center-block">
												<div class="sub-menu-column">
													<div class="menuheading">دموی چند صفحه</div>
													<ul>
														<li><a href="index.html">خانه</a></li>
														<li><a href="digital-agency.html">آژانس دیجیتال</a></li>
														<li><a href="digital-agency-dark.html">آزانس دیجیتال تاریک</a>
														</li>
														<li><a href="web-design-agency.html">آژانس طراحی وب</a></li>
														<li><a href="web-design-agency-dark.html">آژانس طراحی وب
																تاریک</a></li>
														<li><a href="digital-marketing.html">بازاریابی دیجیتال</a></li>
														<li><a href="digital-marketing-dark.html">بازاریابی دیجیتال
																تاریک</a></li>
														<li><a href="lead-generation.html">آژانس نسل پیشرو</a></li>
														<li><a href="lead-generation-dark.html">آژانس نسل پیشرو
																تاریک</a></li>
													</ul>
												</div>
												<div class="sub-menu-column">
													<div class="menuheading">&nbsp;</div>
													<ul>
														<li><a href="freelance-portfolio.html">نمونه کار فریلنسر</a>
														</li>
														<li><a href="freelance-portfolio-dark.html">نمونه کار فریلنسر
																تاریک</a></li>
														<li><a href="app-development.html">آژانس توسعه وب</a></li>
														<li><a href="minimal-portfolio.html">نمونه کار مینیمال</a></li>
														<li><a href="creative-agency.html">آژانس خلاق</a></li>
														<li><a href="branding-agency.html">آژانس برندینگ</a></li>
														<li><a href="modern-agency.html">آژانس مدرن</a></li>
														<li><a href="business-and-startup.html">بیزینس و استارتاپ</a>
														</li>
														<li><a href="graphic-studio.html">استدیو گرافیک</a></li>
													</ul>
												</div>
												<div class="sub-menu-column">
													<div class="menuheading">دموی تک صفحه ای</div>
													<ul>
														<li><a href="digital-agency-onepage.html">آژانس دیجیتال</a></li>
														<li><a href="digital-agency-dark-onepage.html">آژانس دیجیتال
																تاریک</a></li>
														<li><a href="web-design-agency-onepage.html">آژانس طراحی وب</a>
														</li>
														<li><a href="web-design-agency-dark-onepage.html">آژانس طراحی وب
																تاریک</a></li>
														<li><a href="digital-marketing-onepage.html">بازاریابی
																دیجیتال</a></li>
														<li><a href="digital-marketing-dark-onepage.html">بازاریابی
																دیجیتال تاریک</a></li>
														<li><a href="lead-generation-onepage.html">آژانس نسل پیشرو</a>
														</li>
														<li><a href="lead-generation-dark-onepage.html">آژانس نسل پیشرو
																تاریک</a></li>
														<li><a href="freelance-portfolio-onepage.html">نمونه کار
																فریلنسر</a></li>
													</ul>
												</div>
												<div class="sub-menu-column">
													<div class="menuheading">&nbsp;</div>
													<ul>
														<li><a href="freelance-portfolio-dark-onepage.html">نمونه کار
																فریلنسر تاریک</a></li>
														<li><a href="app-development-onepage.html">آژانس توسعه وب</a>
														</li>
														<li><a href="minimal-portfolio-onepage.html">نمونه کار
																مینیمال</a></li>
														<li><a href="creative-agency-onepage.html">آژانس خلاق</a></li>
														<li><a href="branding-agency-onepage.html">آژانس برندینگ</a>
														</li>
														<li><a href="modern-agency-onepage.html">آژانس مدرن</a></li>
														<li><a href="business-and-startup-onepage.html">بیزینس و
																استارتاپ</a></li>
														<li><a href="graphic-studio-onepage.html">استدیو گرافیک</a></li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="sbmenu">
							<a href="#" class="menu-links">صفحات</a>
							<div class="nx-dropdown">
								<div class="sub-menu-section">
									<div class="container">
										<div class="sub-menu-center-block">
											<div class="sub-menu-column">
												<ul>
													<li><a href="about.html">درباره ما</a></li>
													<li><a href="why-us.html">چرا ما</a></li>
													<li><a href="team.html">تیم ما</a></li>
													<li><a href="team-details.html">تک تیم</a></li>
													<li><a href="case-study.html">پروژه ها</a></li>
													<li><a href="case-study-details.html">تک پروژه</a></li>
												</ul>
											</div>
											<div class="sub-menu-column">
												<ul>
													<li><a href="mission-vision.html">ماموریت</a></li>
													<li><a href="development-process.html">پروسه توسعه</a></li>
													<li><a href="client-reviews.html">نظرات مشتری</a> </li>
													<li><a href="clients.html">مشتریان ما</a></li>
													<li><a href="get-quote.html">تماس با ما</a> </li>
													<li><a href="get-quote-2.html">تماس با ما دو</a> </li>
												</ul>
											</div>
											<div class="sub-menu-column">
												<ul>
													<li><a href="login.html">صفحه ورود</a> </li>
													<li><a href="service-card.html">کارت سرویس</a> </li>
													<li><a href="service-web.html">وب سرویس</a></li>
													<li><a href="service-app.html">سرویس اپ موبایل</a></li>
													<li><a href="service-marketing.html">سرویس دیجیتال مارکتینگ</a></li>
													<li><a href="service-graphic.html">سروییس گرافیک</a></li>
												</ul>
											</div>
											<div class="sub-menu-column">
												<ul>
													<li><a href="career.html">مشاغل</a> </li>
													<li><a href="shop-page.html">تک فروش</a> </li>
													<li><a href="shop-details.html">جزئیات فروشگاه</a> </li>
													<li><a href="shop-cart.html">سبد خرید</a> </li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="sbmenu">
							<a href="#" class="menu-links">کدهای کوتاه</a>
							<div class="nx-dropdown">
								<div class="sub-menu-section">
									<div class="container">
										<div class="sub-menu-center-block">
											<div class="sub-menu-column">
												<ul>
													<li><a href="pricing.html">تعرفه ها</a></li>
													<li><a href="typography.html">تایپوگرافی</a></li>
													<li><a href="button.html">دکمه ها</a></li>
													<li><a href="locations.html">مکان دفتر</a></li>
												</ul>
											</div>
											<div class="sub-menu-column">
												<ul>
													<li><a href="faq.html">سوالات متداول</a> </li>
													<li><a href="tabs.html">زبانه ها</a></li>
													<li><a href="error.html">صفحه 404</a></li>
													<li><a href="gradients.html">پس زمینه گرادیانت</a></li>
												</ul>
											</div>
											<div class="sub-menu-column">
												<ul>
													<li><a href="header-v1.html">هدر یک</a></li>
													<li><a href="header-v2.html">هدر دو</a></li>
													<li><a href="header-v3.html">هدر سه</a></li>
													<li><a href="footer-design.html">فوتر</a></li>
												</ul>
											</div>
											<div class="sub-menu-column">
												<ul>
													<li><a href="hover-animation.html">انیمیشن هاور</a></li>
													<li><a href="popup-modal.html">مودال پاپ آپ</a></li>
													<li><a href="lists.html">لیست ها</a></li>
													<li><a href="bootstrap-components.html">اجزای بوت استرپ</a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="sbmenu rpdropdown">
							<a href="#" class="menu-links">نمونه کار</a>
							<div class="nx-dropdown menu-dorpdown">
								<div class="sub-menu-section">
									<div class="sub-menu-center-block">
										<div class="sub-menu-column smfull">
											<ul>
												<li><a href="portfolio.html">گرید یک</a> </li>
												<li><a href="portfolio-2.html">گرید دو</a> </li>
												<li><a href="portfolio-block.html">بلوک عریض</a> </li>
												<li><a href="portfolio-block-2.html">بلوک عریض دو</a> </li>
												<li><a href="portfolio-details.html">جزئیات نمونه کار</a> </li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li class="sbmenu rpdropdown">
							<a href="#" class="menu-links">وبلاگ</a>
							<div class="nx-dropdown menu-dorpdown">
								<div class="sub-menu-section">
									<div class="sub-menu-center-block">
										<div class="sub-menu-column smfull">
											<ul>
												<li><a href="blog-grid-1.html">وبلاگ گرید یک</a> </li>
												<li><a href="blog-grid-2.html">وبلاگ گرید دو</a> </li>
												<li><a href="blog-right-sidebar.html">سایدبار راست</a> </li>
												<li><a href="blog-left-sidebar.html">سایدبار چپ</a> </li>
												<li><a href="blog-single.html">تک پست</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<a href="#" class="menu-links right-bddr">&nbsp;</a>
							<!--menu right border-->
						<li class="contact-show">
							<a href="#" class="btn-round- trngl btn-br bg-btn"><i class="fas fa-phone-alt"></i></a>
							<div class="contact-inquiry">
								<div class="contact-info-">
									<div class="contct-heading">تماس</div>
									<div class="inquiry-card-nn hrbg">
										<div class="title-inq-c">مشاوره</div>
										<ul>
											<li class="mb0"><img src="images/flags/us.svg" alt="us office"
													class="flags-size"> <a href="tel:1111111111">+1-123-456-7890</a>
											</li>
										</ul>
									</div>
									<div class="inquiry-card-nn">
										<div class="title-inq-c">فروش</div>
										<ul>
											<li><a href="tel:1111111111"><img src="images/flags/us.svg" alt="us office"
														class="flags-size"> +1-123-456-7890</a></li>
											<li><a href="tel:1111111111"><img src="images/flags/au.svg"
														alt="australia office" class="flags-size"> +1-123-456-7890</a>
											</li>
											<li><i class="fab fa-skype"></i><a
													href="skype:niwax.company?call">niwax.company</a></li>
											<li><i class="fas fa-envelope"></i><a
													href="mailto:info@businessname.com">info@businessname.com</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li><a href="get-quote.html" class="btn-br bg-btn3 btshad-b2 lnk">تماس مستقیم <span
									class="circle"></span></a> </li>
					</ul>
				</div>
				<div class="mobile-menu2">
					<ul class="mob-nav2">
						<li><a href="#" class="btn-round- trngl btn-br bg-btn btshad-b1" data-bs-toggle="modal"
								data-bs-target="#menu-popup"><i class="fas fa-envelope-open-text"></i></a></li>
						<li class="navm-"> <a class="toggle" href="#"><span></span></a></li>
					</ul>
				</div>
			</div>
			<!--Mobile Menu-->
			<nav id="main-nav">
				<ul class="first-nav">
					<li>
						<a href="#">خانه</a>
						<ul>
							<li>
								<a href="#">دمو چند صفحه</a>
								<ul>
									<li><a href="index.html">خانه</a></li>
									<li><a href="digital-agency.html">آژانس دیجیتال</a></li>
									<li><a href="digital-agency-dark.html">آزانس دیجیتال تاریک</a></li>
									<li><a href="web-design-agency.html">آژانس طراحی وب</a></li>
									<li><a href="web-design-agency-dark.html">آژانس طراحی وب تاریک</a></li>
									<li><a href="digital-marketing.html">بازاریابی دیجیتال</a></li>
									<li><a href="digital-marketing-dark.html">بازاریابی دیجیتال تاریک</a></li>
									<li><a href="lead-generation.html">آژانس نسل پیشرو</a></li>
									<li><a href="lead-generation-dark.html">آژانس نسل پیشرو تاریک</a></li>
									<li><a href="freelance-portfolio.html">نمونه کار فریلنسر</a></li>
									<li><a href="freelance-portfolio-dark.html">نمونه کار فریلنسر تاریک</a></li>
									<li><a href="minimal-portfolio.html">نمونه کار مینیمال</a></li>
									<li><a href="creative-agency.html">آژانس خلاق</a></li>
									<li><a href="branding-agency.html">آژانس برندینگ</a></li>
									<li><a href="app-development.html">آژانس توسعه وب</a></li>
									<li><a href="modern-agency.html">آژانس مدرن</a></li>
									<li><a href="business-and-startup.html">بیزینس و استارتاپ</a></li>
									<li><a href="graphic-studio.html">استدیو گرافیک</a></li>
								</ul>
							</li>
							<li>
								<a href="#">دمو تک صفحه</a>
								<ul>
									<li><a href="digital-agency-onepage.html">آژانس دیجیتال</a></li>
									<li><a href="digital-agency-dark-onepage.html">آژانس دیجیتال تاریک</a></li>
									<li><a href="web-design-agency-onepage.html">آژانس طراحی وب</a></li>
									<li><a href="web-design-agency-dark-onepage.html">آژانس طراحی وب تاریک</a></li>
									<li><a href="digital-marketing-onepage.html">بازاریابی دیجیتال</a></li>
									<li><a href="digital-marketing-dark-onepage.html">بازاریابی دیجیتال تاریک</a></li>
									<li><a href="lead-generation-onepage.html">آژانس نسل پیشرو</a></li>
									<li><a href="lead-generation-dark-onepage.html">آژانس نسل پیشرو تاریک</a></li>
									<li><a href="freelance-portfolio-onepage.html">نمونه کار فریلنسر</a></li>
									<li><a href="freelance-portfolio-dark-onepage.html">نمونه کار فریلنسر تاریک</a></li>
									<li><a href="app-development-onepage.html">آژانس توسعه وب</a></li>
									<li><a href="minimal-portfolio-onepage.html">نمونه کار مینیمال</a></li>
									<li><a href="creative-agency-onepage.html">آژانس خلاق</a></li>
									<li><a href="branding-agency-onepage.html">آژانس برندینگ</a></li>
									<li><a href="modern-agency-onepage.html">آژانس مدرن</a></li>
									<li><a href="business-and-startup-onepage.html">بیزینس و استارتاپ</a></li>
									<li><a href="graphic-studio-onepage.html">استدیو گرافیک</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">صفحات</a>
						<ul>
							<li><a href="about.html">درباره ما</a></li>
							<li><a href="why-us.html">چرا ما</a></li>
							<li><a href="team.html">تیم ما</a></li>
							<li><a href="team-details.html">تک تیم</a></li>
							<li><a href="case-study.html">پروژه ها</a></li>
							<li><a href="case-study-details.html">تک پروژه</a></li>
							<li><a href="mission-vision.html">ماموریت</a></li>
							<li><a href="development-process.html">پروسه توسعه</a></li>
							<li><a href="client-reviews.html">نظرات مشتری</a> </li>
							<li><a href="clients.html">مشتریان ما</a></li>
							<li><a href="get-quote.html">تماس با ما</a> </li>
							<li><a href="get-quote-2.html">تماس با ما دو</a> </li>
							<li><a href="login.html">صفحه ورود</a> </li>
							<li><a href="service-card.html">کارت سرویس</a> </li>
							<li><a href="service-web.html">وب سرویس</a></li>
							<li><a href="service-app.html">سرویس اپ موبایل</a></li>
							<li><a href="service-marketing.html">سرویس دیجیتال مارکتینگ</a></li>
							<li><a href="service-graphic.html">سروییس گرافیک</a></li>
							<li><a href="career.html">مشاغل</a> </li>
							<li><a href="shop-page.html">تک فروش</a> </li>
							<li><a href="shop-details.html">جزئیات فروشگاه</a> </li>
							<li><a href="shop-cart.html">سبد خرید</a> </li>
						</ul>
					</li>
					<li>
						<a href="#">کد کوتاه</a>
						<ul>
							<li><a href="pricing.html">تعرفه ها</a></li>
							<li><a href="typography.html">تایپوگرافی</a></li>
							<li><a href="button.html">دکمه ها</a></li>
							<li><a href="locations.html">مکان دفتر</a></li>
							<li><a href="faq.html">سوالات متداول</a> </li>
							<li><a href="tabs.html">زبانه ها</a></li>
							<li><a href="error.html">صفحه 404</a></li>
							<li><a href="gradients.html">پس زمینه گرادیانت</a></li>
							<li><a href="header-v1.html">هدر یک</a></li>
							<li><a href="header-v2.html">هدر دو</a></li>
							<li><a href="header-v3.html">هدر سه</a></li>
							<li><a href="footer-design.html">فوتر</a></li>
							<li><a href="hover-animation.html">انیمیشن هاور</a></li>
							<li><a href="popup-modal.html">مودال پاپ آپ</a></li>
							<li><a href="lists.html">لیست ها</a></li>
							<li><a href="bootstrap-components.html">اجزای بوت استرپ</a></li>
						</ul>
					</li>
					<li>
						<a href="#">نمونه کار</a>
						<ul>
							<li><a href="portfolio.html">گرید یک</a> </li>
							<li><a href="portfolio-2.html">گرید دو</a> </li>
							<li><a href="portfolio-block.html">بلوک عریض</a> </li>
							<li><a href="portfolio-block-2.html">بلوک عریض دو</a> </li>
							<li><a href="portfolio-details.html">جزئیات نمونه کار</a> </li>
						</ul>
					</li>
					<li>
						<a href="#">وبلاگ</a>
						<ul>
							<li><a href="blog-grid-1.html">وبلاگ گرید یک</a> </li>
							<li><a href="blog-grid-2.html">وبلاگ گرید دو</a> </li>
							<li><a href="blog-right-sidebar.html">سایدبار راست</a> </li>
							<li><a href="blog-left-sidebar.html">سایدبار چپ</a> </li>
							<li><a href="blog-single.html">تک پست</a></li>
						</ul>
					</li>
				</ul>
				<ul class="bottom-nav">
					<li class="prb">
						<a href="tel:+11111111111">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 384">
								<path
									d="M353.188,252.052c-23.51,0-46.594-3.677-68.469-10.906c-10.719-3.656-23.896-0.302-30.438,6.417l-43.177,32.594
								  c-50.073-26.729-80.917-57.563-107.281-107.26l31.635-42.052c8.219-8.208,11.167-20.198,7.635-31.448
								  c-7.26-21.99-10.948-45.063-10.948-68.583C132.146,13.823,118.323,0,101.333,0H30.813C13.823,0,0,13.823,0,30.813
								  C0,225.563,158.438,384,353.188,384c16.99,0,30.813-13.823,30.813-30.813v-70.323C384,265.875,370.177,252.052,353.188,252.052z" />
							</svg>
						</a>
					</li>
					<li class="prb">
						<a href="mailto:somewebmedia@gmail.com">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
								<path
									d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
								<path d="M0 0h24v24H0z" fill="none" />
							</svg>
						</a>
					</li>
					<li class="prb">
						<a href="skype:niwax.company?call">
							<svg enable-background="new 0 0 24 24" height="18" viewBox="0 0 24 24" width="18"
								xmlns="http://www.w3.org/2000/svg">
								<path
									d="m23.309 14.547c1.738-7.81-5.104-14.905-13.139-13.543-4.362-2.707-10.17.352-10.17 5.542 0 1.207.333 2.337.912 3.311-1.615 7.828 5.283 14.821 13.311 13.366 5.675 3.001 11.946-2.984 9.086-8.676zm-7.638 4.71c-2.108.867-5.577.872-7.676-.227-2.993-1.596-3.525-5.189-.943-5.189 1.946 0 1.33 2.269 3.295 3.194.902.417 2.841.46 3.968-.3 1.113-.745 1.011-1.917.406-2.477-1.603-1.48-6.19-.892-8.287-3.483-.911-1.124-1.083-3.107.037-4.545 1.952-2.512 7.68-2.665 10.143-.768 2.274 1.76 1.66 4.096-.175 4.096-2.207 0-1.047-2.888-4.61-2.888-2.583 0-3.599 1.837-1.78 2.731 2.466 1.225 8.75.816 8.75 5.603-.005 1.992-1.226 3.477-3.128 4.253z" />
							</svg>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<!--Mobile contact-->
	<div class="popup-modal1">
		<div class="modal" id="menu-popup">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<div class="common-heading">
							<h4 class="mt0 mb0">پیامی بنویسید</h4>
						</div>
						<button type="button" class="closes" data-bs-dismiss="modal">&times;</button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						<div class="form-block fdgn2 mt10 mb10">
							<form action="#" method="post" name="feedback-form">
								<div class="fieldsets row">
									<div class="col-md-12"><input type="text" placeholder="نام کامل" name="name"></div>
									<div class="col-md-12"><input type="email" placeholder="ایمیل" name="email"></div>
									<div class="col-md-12"><input type="number" placeholder="شماره تماس" name="phone">
									</div>
									<div class="col-md-12"><input type="text" placeholder="موضوع" name="subject"></div>
									<div class="col-md-12"><textarea placeholder="پیام" name="message"></textarea></div>
								</div>
								<div class="fieldsets mt20 pb20">
									<button type="submit" name="submit" class="lnk btn-main bg-btn"
										data-bs-dismiss="modal">ارسال <i class="fas fa-chevron-left fa-icon"></i><span
											class="circle"></span></button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Mobile contact-->
	<!--End Header -->

	<!--Breadcrumb Area-->
	<section class="breadcrumb-area banner-2">
		<div class="text-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 v-center">
						<div class="bread-inner">
							<div class="bread-menu">
								<ul>
									<li><a href="index.html">خانه</a></li>
									<li><a href="#">وبلاگ گرید دو</a></li>
								</ul>
							</div>
							<div class="bread-title">
								<h2>وبلاگ گرید دو</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Breadcrumb Area-->
	<!--Start Blog Grid-->
	<section class="blog-page pad-tb pt40">
		<div class="container">

			<div class="row">

				<div class="col-lg-4 mt60">
					<div class="single-blog-post- shdo">
						<div class="single-blog-img-">
							<a href="#"><img src="images/blog/blog-dg-1.jpg" alt="girl" class="img-fluid"></a>
							<div class="entry-blog-post dg-bg2">
								<span class="bypost-"><a href="#"><i class="fas fa-tag"></i> سئو</a></span>
								<span class="posted-on-">
									<a href="#"><i class="fas fa-clock"></i> دو دی 1400</a>
								</span>
							</div>
						</div>
						<div class="blog-content-tt">
							<div class="single-blog-info-">
								<h4><a href="#">هر آنچه که باید در مورد سئو بدانید!</a></h4>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
									گرافیک است. .</p>
							</div>
							<div class="post-social">
								<div
									class="ss-inline-share-wrapper ss-hover-animation-fade ss-inline-total-counter-left ss-left-inline-content ss-small-icons ss-with-spacing ss-circle-icons ss-without-labels">
									<div class="ss-inline-share-content">
										<div class="ss-social-icons-container">
											<a href="javascript:void(0)">اشتراک</a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-facebook"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-twitter"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-linkedin"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fas fa-envelope"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mt60">
					<div class="single-blog-post- shdo">
						<div class="single-blog-img-">
							<a href="#"><img src="images/blog/blog-dg-2.jpg" alt="girl" class="img-fluid"></a>
							<div class="entry-blog-post bg-gradient12">
								<span class="bypost-"><a href="#"><i class="fas fa-tag"></i> لاراول</a></span>
								<span class="posted-on-">
									<a href="#"><i class="fas fa-clock"></i> 2 دی 1400</a>
								</span>
							</div>
						</div>
						<div class="blog-content-tt">
							<div class="single-blog-info-">
								<h4><a href="#">بررسی ویژگی های کلیدی لاراول</a></h4>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
									گرافیک است. .</p>
							</div>
							<div class="post-social">
								<div
									class="ss-inline-share-wrapper ss-hover-animation-fade ss-inline-total-counter-left ss-left-inline-content ss-small-icons ss-with-spacing ss-circle-icons ss-without-labels">
									<div class="ss-inline-share-content">
										<div class="ss-social-icons-container">
											<a href="javascript:void(0)">اشتراک</a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-facebook"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-twitter"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-linkedin"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fas fa-envelope"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mt60">
					<div class="single-blog-post- shdo">
						<div class="single-blog-img-">
							<a href="#"><img src="images/blog/blog-dg-3.jpg" alt="girl" class="img-fluid"></a>
							<div class="entry-blog-post dg-bg2">
								<span class="bypost-"><a href="#"><i class="fas fa-tag"></i> اپ موبایل</a></span>
								<span class="posted-on-">
									<a href="#"><i class="fas fa-clock"></i> 2 دی 1400</a>
								</span>
							</div>
						</div>
						<div class="blog-content-tt">
							<div class="single-blog-info-">
								<h4><a href="#">بهترین فناوری برای توسعه اپلیکیشن موبایل</a></h4>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
									گرافیک است. .</p>
							</div>
							<div class="post-social">
								<div
									class="ss-inline-share-wrapper ss-hover-animation-fade ss-inline-total-counter-left ss-left-inline-content ss-small-icons ss-with-spacing ss-circle-icons ss-without-labels">
									<div class="ss-inline-share-content">
										<div class="ss-social-icons-container">
											<a href="javascript:void(0)">اشتراک</a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-facebook"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-twitter"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-linkedin"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fas fa-envelope"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 mt60">
					<div class="single-blog-post- shdo">
						<div class="single-blog-img-">
							<a href="#"><img src="images/blog/blog-dg-1.jpg" alt="girl" class="img-fluid"></a>
							<div class="entry-blog-post dg-bg2">
								<span class="bypost-"><a href="#"><i class="fas fa-tag"></i> سئو</a></span>
								<span class="posted-on-">
									<a href="#"><i class="fas fa-clock"></i> دو دی 1400</a>
								</span>
							</div>
						</div>
						<div class="blog-content-tt">
							<div class="single-blog-info-">
								<h4><a href="#">هر آنچه که باید در مورد سئو بدانید!</a></h4>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
									گرافیک است. .</p>
							</div>
							<div class="post-social">
								<div
									class="ss-inline-share-wrapper ss-hover-animation-fade ss-inline-total-counter-left ss-left-inline-content ss-small-icons ss-with-spacing ss-circle-icons ss-without-labels">
									<div class="ss-inline-share-content">
										<div class="ss-social-icons-container">
											<a href="javascript:void(0)">اشتراک</a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-facebook"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-twitter"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-linkedin"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fas fa-envelope"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mt60">
					<div class="single-blog-post- shdo">
						<div class="single-blog-img-">
							<a href="#"><img src="images/blog/blog-dg-2.jpg" alt="girl" class="img-fluid"></a>
							<div class="entry-blog-post bg-gradient13">
								<span class="bypost-"><a href="#"><i class="fas fa-tag"></i> لاراول</a></span>
								<span class="posted-on-">
									<a href="#"><i class="fas fa-clock"></i> 2 دی 1400</a>
								</span>
							</div>
						</div>
						<div class="blog-content-tt">
							<div class="single-blog-info-">
								<h4><a href="#">بررسی ویژگی های کلیدی لاراول</a></h4>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
									گرافیک است. .</p>
							</div>
							<div class="post-social">
								<div
									class="ss-inline-share-wrapper ss-hover-animation-fade ss-inline-total-counter-left ss-left-inline-content ss-small-icons ss-with-spacing ss-circle-icons ss-without-labels">
									<div class="ss-inline-share-content">
										<div class="ss-social-icons-container">
											<a href="javascript:void(0)">اشتراک</a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-facebook"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-twitter"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-linkedin"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fas fa-envelope"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 mt60">
					<div class="single-blog-post- shdo">
						<div class="single-blog-img-">
							<a href="#"><img src="images/blog/blog-dg-3.jpg" alt="girl" class="img-fluid"></a>
							<div class="entry-blog-post dg-bg2">
								<span class="bypost-"><a href="#"><i class="fas fa-tag"></i> اپ موبایل</a></span>
								<span class="posted-on-">
									<a href="#"><i class="fas fa-clock"></i> 2 دی 1400</a>
								</span>
							</div>
						</div>
						<div class="blog-content-tt">
							<div class="single-blog-info-">
								<h4><a href="#">بهترین فناوری برای توسعه اپلیکیشن موبایل</a></h4>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
									گرافیک است. .</p>
							</div>
							<div class="post-social">
								<div
									class="ss-inline-share-wrapper ss-hover-animation-fade ss-inline-total-counter-left ss-left-inline-content ss-small-icons ss-with-spacing ss-circle-icons ss-without-labels">
									<div class="ss-inline-share-content">
										<div class="ss-social-icons-container">
											<a href="javascript:void(0)">اشتراک</a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-facebook"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-twitter"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-linkedin"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fas fa-envelope"></i></a>
											<a href="javascript:void(0)" target="blank"><i
													class="fab fa-facebook-messenger"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>

		</div>
	</section>
	<!--End Blog Grid-->

	<!--Start Footer-->
	<footer>
		<div class="footer-row1">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="email-subs">
							<h3>خبرنامه</h3>
							<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
								است. </p>
						</div>
					</div>
					<div class="col-lg-6 v-center">
						<div class="email-subs-form">
							<form>
								<input type="email" placeholder="آدرس ایمیل شما" name="emails">
								<button type="submit" name="submit" class="lnk btn-main bg-btn">اشتراک <i
										class="fas fa-chevron-left fa-icon"></i><span class="circle"></span></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-row2">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-lg-3 col-sm-6  ftr-brand-pp">
						<a class="navbar-brand mt30 mb25" href="#"> <img src="images/logo.png" alt="Logo"
								width="100" /></a>
						<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
						</p>
						<a href="#" class="btn-main bg-btn3 lnk mt20">به ما بپیوندید <i
								class="fas fa-chevron-left fa-icon"></i><span class="circle"></span></a>
					</div>
					<div class="col-lg-3 col-sm-6">
						<h5>تماس با ما</h5>
						<ul class="footer-address-list ftr-details">
							<li>
								<span><i class="fas fa-envelope"></i></span>
								<p>ایمیل <span> <a href="mailto:info@businessname.com">info@businessname.com</a></span>
								</p>
							</li>
							<li>
								<span><i class="fas fa-phone-alt"></i></span>
								<p>تلفن <span> <a href="tel:+10000000000">+1 0000 000 000</a></span></p>
							</li>
							<li>
								<span><i class="fas fa-map-marker-alt"></i></span>
								<p>آدرس <span> ایران - تهران خیابان شهرداری</span></p>
							</li>
						</ul>
					</div>
					<div class="col-lg-2 col-sm-6">
						<h5>شرکت</h5>
						<ul class="footer-address-list link-hover">
							<li><a href="get-quote.html">تماس</a></li>
							<li><a href="javascript:void(0)">سوالات متداول</a></li>
							<li><a href="javascript:void(0)">سیاست بازپرداخت</a></li>
							<li><a href="javascript:void(0)">حریم خصوصی</a></li>
							<li><a href="javascript:void(0)">شرایط و ضوابط</a></li>
							<li><a href="javascript:void(0)">کپی رایت</a></li>
						</ul>
					</div>
					<div class="col-lg-4 col-sm-6 footer-blog-">
						<h5>آخرین اخبار</h5>
						<div class="single-blog-">
							<div class="post-thumb"><a href="#"><img src="images/blog/blog-small.jpg" alt="blog"></a>
							</div>
							<div class="content">
								<p class="post-meta"><span class="post-date"><i class="far fa-clock"></i>دوم دی
										1400</span></p>
								<h4 class="title"><a href="blog-sngle.html">ما بهترین خدمات مشاوره خلاق را به شما ارائه
										می دهیم </a></h4>
							</div>
						</div>
						<div class="single-blog-">
							<div class="post-thumb"><a href="#"><img src="images/blog/blog-small.jpg" alt="blog"></a>
							</div>
							<div class="content">
								<p class="post-meta"><span class="post-date"><i class="far fa-clock"></i>دوم دی
										1400</span></p>
								<h4 class="title"><a href="blog-sngle.html">ما بهترین خدمات مشاوره خلاق را به شما ارائه
										می دهیم </a></h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-brands">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 v-center">
						<h5 class="mb10">برترین شرکت های توسعه اپلیکیشن</h5>
						<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
						</p>
					</div>
					<div class="col-lg-8 v-center">
						<ul class="footer-badges-">
							<li><a href="#"><img src="images/about/badges-a.png" alt="badges"></a></li>
							<li><a href="#"><img src="images/about/badges-b.png" alt="badges"></a></li>
							<li><a href="#"><img src="images/about/badges-c.png" alt="badges"></a></li>
							<li><a href="#"><img src="images/about/badges-d.png" alt="badges"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-row3">
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="footer-social-media-icons">
								<a href="javascript:void(0)" target="blank"><i class="fab fa-facebook"></i></a>
								<a href="javascript:void(0)" target="blank"><i class="fab fa-twitter"></i></a>
								<a href="javascript:void(0)" target="blank"><i class="fab fa-instagram"></i></a>
								<a href="javascript:void(0)" target="blank"><i class="fab fa-linkedin"></i></a>
								<a href="javascript:void(0)" target="blank"><i class="fab fa-youtube"></i></a>
								<a href="javascript:void(0)" target="blank"><i class="fab fa-pinterest-p"></i></a>
								<a href="javascript:void(0)" target="blank"><i class="fab fa-vimeo-v"></i></a>
								<a href="javascript:void(0)" target="blank"><i class="fab fa-dribbble"></i></a>
								<a href="javascript:void(0)" target="blank"><i class="fab fa-behance"></i></a>
							</div>
							<div class="footer-">
								<p>کپی رایت &copy; 1400 . تمامی حقوق محفوظ است. ترجمه و راست چینی توسط <a
										href="https://www.mellatweb.com/" target="blank">ملت وب</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--End Footer-->

	<!-- js placed at the end of the document so the pages load faster -->
	<script src="js/vendor/modernizr-3.5.0.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/plugin.min.js"></script>
	<!--common script file-->
	<script src="js/main.js"></script>
</body>

</html>